
<%= form_for @gauchada do |g| %>
<div class="row">
<%= g.label :titulo %>
</div>
<div class="row">
<%= g.text_field :titulo,:placeholder=>'Título de la gauchada' %>
</div>
<div class="row">
<%= g.label :descripcion %>
</div>
<div class="row">
<%= g.text_area :descripcion,:placeholder=>'Descripción de la gauchada' %>
</div>
<div class="row">
<%= g.label :ubicacion %>
</div>
<div class="row">
<%= g.text_field :ubicacion,:placeholder=>'Ubicación de la gauchada' %>
</div>
<div class="row">
<%= g.label :imagen %>
</div>
<div class="row">
<%= g.url_field :imagen,:placeholder=>'URL de la imagen' %>
</div>
<%= g.submit 'Guardar',:class=>'btn btn-warning' %>
<% end %>
