
<%= form_for @gauchada, url: calificar_gauchada_path, method: :post do |g| %>
<div class="form-group">
<%= "Postivo" %>
<% g.label :calificacion %>
<%= g.radio_button :calificacion, 'positivo', checked: true %>
<%= "Negativo" %>
<% g.label :calificacion %>
<%= g.radio_button :calificacion, 'negativo' %>
</div>
<%= g.submit 'Guardar',:class=>'btn btn-warning' %>
<% end %>
