<div class="row">
  <div class="col-md-4">
    <% usuario=User.find(@gauchada.user_id) %>
    <% if Logro.count==1 %>
      <% @l=Logro.find(1) %>
    <%else%>
    <% @logro=Logro.all %>
    <% @logro.each do |logro| %>
    <% if logro.puntuacion <= usuario.puntuacion %>
        <% @l=logro %>
        <% end %>
    <% end %>
    <%end %>
<div class="row">
        <div class="col-xs-12 col-sm-8 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                      <% if usuario.imagen != nil %>
                          <%= image_tag usuario.imagen, size:"150x200", class: "img-rounded img-responsive"%>
                      <% else %>
                       <img src="http://static.topixcdn.com/pics/user_avatar_empty.png" alt="" class="img-rounded img-responsive" >
                       <% end %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><%= usuario.nombre %></h4>
                        <small><cite><font color="#f0ad4e"><%=@l.estado %></font> </cite></small>
                    </div>
                </div>
            </div>
        </div>
    </div>


  </div>
                <div class="col-md-8 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title"><%= @gauchada.titulo %></h1>
                            <hr />
                            <% if (@gauchada.imagen != nil) && (@gauchada.imagen != "")%>
                            <p ALIGN=CENTER><%= image_tag @gauchada.imagen, size:"600x400"%></p>
                            <% else %>
                            <p ALIGN=CENTER><img src="http://mgiep.unesco.org/wp-content/plugins/ajax-search-lite/img/default.jpg" size="300x300" class="img-responsive"></p>
                            <%end %>
                            <p><%= @gauchada.descripcion %></p>
                            <br />
                            <% if @gauchada.cumplida %>
                               <h6> La gauchada se encuentra cumplida </h6>
                              <%else %>
                                <h6> La gauchada no se encuentra cumplida </h6>
                                <% if user_signed_in? and current_user.id == @gauchada.user_id %>
                                  <td>
                                  <%= link_to "Editar", edit_gauchada_path(@gauchada),  class: "btn btn-block btn-warning" %>
                                  <%= link_to "Eliminar", @gauchada, method: :delete, class: 'btn btn-block btn-danger' %>
                                  </td>
                                <% else %>
                                   <% if user_signed_in? && @gauchada.postulacions.where(user:current_user).any? %>
                                       <%= link_to "Eliminar postulacion", @gauchada.postulacions.where(user:current_user)[0], method: :delete, class: 'btn btn-block btn-danger' %>
                                    <% else %>
                                       <%= link_to "Postularse", new_postulacion_path(gauchadaid:@gauchada), class: 'btn btn-block btn-warning' %>
                                    <% end %>
                                <% end %>
                              <% end %>
                        </div>
                    </div>
                  </div>
</div>
                    </div>
                  </div>
</div>
