<div class="row">
  <div class="col-md-6">
    <% usuario=User.find(@gauchada.user_id) %>
    <% if Logro.count==1 %>
      <% @l=Logro.find(1) %>
    <%else%>
    <% @logro=Logro.all %>
    <% @logro.each do |logro| %>
    <% if logro.puntuacion <= usuario.puntuacion %>
        <% @l=logro %>
        <% end %>
    <% end %>
    <%end %>
<div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                      <% if usuario.imagen != nil %>
                          <%= image_tag usuario.imagen, size:"150x200", class: "img-rounded img-responsive"%>
                      <% else %>
                       <img src="http://static.topixcdn.com/pics/user_avatar_empty.png" alt="" class="img-rounded img-responsive" >
                       <% end %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><%= usuario.nombre %></h4>
                        <small><cite><font color="#f0ad4e"><%=@l.estado %></font> </cite></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col-md-12 ">
    <% if user_signed_in? and current_user.id == @gauchada.user_id %>
      <% if @gauchada.postulacions.any? == false %>
          <p>Todavía no hay postulaciones</p>
      <% else %>

        <table class="table table-striped" >
        	<tr>
        		<th> Usuario </th>
            <th> Reputación </th>
        		<th> Fecha de realización </th>
            <th> Comentario </th>
        		<th> Acciones </th>
        	</tr>
        <tr>

          <% @gauchada.postulacions.each do |post| %>
          <% us=User.find(post.user_id) %>
      		<td> <%= us.nombre %></td>
      		<td><% if Logro.count==1 %>
                <% @repu= Logro.find(1) %>
              <%else%>
              <% @log=Logro.all %>
                <% @log.each do |logr| %>
          <% if logr.puntuacion <= us.puntuacion %>
              <% @repu=logr %>
            <% end %>
          <% end %>
          <%end %>
          <cite><font color="#f0ad4e"><%= @repu.estado %></font> </cite>
          </td>
          <td> <%= post.fechaderealizacion %> </td>
         <td ><%= post.comentarios %></td>
      		<td> <% if post.estado == "Esperando" %>
              <%= link_to "Aceptar", postulacion_aceptar_path(id:post.id), class: 'btn btn-block btn-warning' %>
    				  <%= link_to "Rechazar", postulacion_rechazar_path(id:post.id), class: 'btn btn-block btn-danger' %>
              <%else %>
                <cite><font color="#f0ad4e"><%=post.estado %></font> </cite>
              <% end %>
      		</td>
      	</tr>
          <%end%>
      </table>

      <% end %>
    <%end %>
  </div>
  </div>

  </div>
                <div class="col-md-6 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title"><%= @gauchada.titulo %></h1>
                            <hr />
                            <% if (@gauchada.imagen != nil) && (@gauchada.imagen != "")%>
                            <p ALIGN=CENTER><%= image_tag @gauchada.imagen, size:"600x400"%></p>
                            <% else %>
                            <p ALIGN=CENTER><img src="http://mgiep.unesco.org/wp-content/plugins/ajax-search-lite/img/default.jpg" size="300x300" class="img-responsive"></p>
                            <%end %>
                            <p><%= @gauchada.descripcion %></p>
                            <br />
                            <% if @gauchada.cumplida %>
                               <h6> La gauchada se encuentra cumplida </h6>
                                <% if @gauchada.calificacion == nil %>
                                      <%= form_for @gauchada, url: calificar_gauchada_path, method: :post do |g| %>
                                      <div class="form-group">
                                      <%= "Postivo" %>
                                      <% g.label :calificacion %>
                                      <%= g.radio_button :calificacion, 'positivo', checked: true %>
                                      <%= "Negativo" %>
                                      <% g.label :calificacion %>
                                      <%= g.radio_button :calificacion, 'negativo' %>
                                      </div>
                                      <%= g.submit 'Guardar', data: {confirm: "¿Estas seguro?"} , :class=>'btn btn-warning' %>
                                      <% end %>
                                   <%end%>
                                   
                               <%else %>
                                <h6> La gauchada no se encuentra cumplida </h6>
                                
                                <% if user_signed_in? and current_user.id == @gauchada.user_id %>
                                  <td>
                                  <% if !(@gauchada.postulacions.where(estado:"Aceptada").any?) %>
                                    <%= link_to "Editar", edit_gauchada_path(@gauchada),  class: "btn btn-block btn-warning" %>
                                    <%= link_to "Eliminar", @gauchada, method: :delete, data: {confirm: "¿Estas seguro?"} ,  class: "btn btn-block btn-danger" %> 
                                  <% else %>
                                    <%= link_to "Marcar como realizada", realizar_path(:id =>@gauchada.id ), class: "btn btn-block btn-success" %>
                                    <% if @gauchada.calificacion == nil %>
                                      <%= form_for @gauchada, url: calificar_gauchada_path, method: :post do |g| %>
                                      <div class="form-group">
                                      <%= "Postivo" %>
                                      <% g.label :calificacion %>
                                      <%= g.radio_button :calificacion, 'positivo', checked: true %>
                                      <%= "Negativo" %>
                                      <% g.label :calificacion %>
                                      <%= g.radio_button :calificacion, 'negativo' %>
                                      </div>
                                      <%= g.submit 'Guardar', data: {confirm: "¿Estas seguro?"} ,:class=>'btn btn-warning' %>
                                      <% end %>
                                   <%end%>
                                   <%end%>
                                  </td>
                                <% else %>
                                   <% if user_signed_in? && @gauchada.postulacions.where(user:current_user).any? %>
                                      <% if @gauchada.postulacions.where(user:current_user)[0].estado == "Esperando" %>
                                       <%= link_to "Eliminar postulacion", @gauchada.postulacions.where(user:current_user)[0], method: :delete, class: 'btn btn-block btn-danger' %>
                                       <%else%>
                                            <% if @gauchada.postulacions.where(user:current_user)[0].estado == "Rechazada" %>
                                              <h5> Tu postulación ha sido rechazada </h5>
                                            <%else%>
                                                <h5> Tu postulación fue aceptada! En tu mail podrás encontrar los datos de contacto del usuario</h5>
                                              <%end%>
                                       <%end%>
                                    <% else %>
                                      <% if user_signed_in? && !(@gauchada.postulacions.where(estado:"Aceptada").any?) %>
                                       <%= link_to "Postularse", new_postulacion_path(gauchadaid:@gauchada), class: 'btn btn-block btn-warning' %>
                                       <% else %>
                                          <h6> Ya se ha aceptado una postulación para esta gauchada. </h6>
                                       <% end %>
                                    <% end %>
                                <% end %>
                              <% end %>
 
                        </div>
                    </div>
                  </div>
</div>
                    </div>
                  </div> 
  <div class="row">
    <div class="col-md-12 ">
      <% if user_signed_in? %>
      <!-- begin Caja de comentarios -->
      <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
      <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
      <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1480277147128");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
      <!-- end Caja de comentarios -->    
      <% end %>
    </div>
  </div>  
</div>
