<!DOCTYPE html>
<html>
<head>
  <title>Gauchadas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<%= render 'layouts/header' %>

<div class="container">

  <% if flash[:notice] %>
    <div class="alert alert-info"> <%= flash[:notice] %> </div>
  <% end %>

	<%= yield %>
  <footer>
<%= link_to 'Ayuda', '/ayuda' %>
</footer>
</div>

</body>
</html>
