
<!DOCTYPE html>
<html>
<head>
  <title>Gauchada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>


<div class="container">

  <%= image_tag "header.png", title: "Header", class: "img-responsive" %>
  <% if flash[:notice] %>
    <div class="alert alert-warning"> <%= flash[:notice] %> </div>
  <% end %>

	<%= yield %>

</div>

</body>
</html>
